@media (min-width: 1024px) {
  .tool {
    width: 300px;
    height: 300px;
  }
  .tool__text {
    font-size: 40px;
  }
}
@media (max-width: 359px) {
  .tool {
    width: 95vw;
    height: 100px;
    flex-direction: row;
    justify-content: center;
  }
  .tool__text {
    font-size: 30px;
    position: static;
  }
  .tool__icon {
    display: none;
  }
}
@media (max-height: 359px) {
  .tool {
    width: 100px;
    height: 70px;
  }
  .tool__text {
    font-size: 15px;
  }
}
