* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: roboto, sans-serif;
  font-size: 15px;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100vw;
  min-height: 100vh;
  background-color: rgb(161, 172, 184);
}

a {
  text-decoration: none;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 50px;
  padding: 10px;
  background-color: #fff;
}

.header__logo-img {
  height: 30px;
}

.nav__burger {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  top: 10px;
  right: 10px;
  width: 32px;
  height: 24px;
  cursor: pointer;
  overflow: hidden;
  z-index: 3;
}
.nav__burger span {
  height: 4px;
  width: 100%;
  border-radius: 2px;
  background-color: black;
  -webkit-transition: -webkit-transform 0.2s ease-in;
  transition: -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in;
  transition: transform 0.2s ease-in, -webkit-transform 0.2s ease-in;
}
.nav__burger span:nth-child(2) {
  width: 80%;
}

.burger-active span:nth-child(1) {
  -webkit-transform: translateY(10px) rotate(-45deg);
          transform: translateY(10px) rotate(-45deg);
}
.burger-active span:nth-child(2) {
  -webkit-transform: translateX(-30px);
          transform: translateX(-30px);
}
.burger-active span:nth-child(3) {
  -webkit-transform: translateY(-10px) rotate(45deg);
          transform: translateY(-10px) rotate(45deg);
}

.nav__list {
  position: fixed;
  margin: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 250px;
  padding-top: 70px;
  list-style-type: none;
  background-color: white;
  z-index: 2;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.1s ease-in;
  transition: -webkit-transform 0.1s ease-in;
  transition: transform 0.1s ease-in;
  transition: transform 0.1s ease-in, -webkit-transform 0.1s ease-in;
}

.nav-active {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.nav__item {
  font-size: 18px;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.nav__link {
  color: black;
}

.main {
  height: 100%;
  padding: 15px;
}

.main__title {
  text-align: center;
  font-size: 24px;
  margin: 0;
}

.tools {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 15px;
}

.footer {
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 30px;
  font-size: 14px;
  z-index: 1;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px;
  padding: 20px;
  color: white;
  background-color: black;
  border-radius: 20px;
  -webkit-filter: drop-shadow(0 3px 4px #2d2d2d);
          filter: drop-shadow(0 3px 4px #2d2d2d);
  -webkit-transition: -webkit-transform 0.1s linear;
  transition: -webkit-transform 0.1s linear;
  transition: transform 0.1s linear;
  transition: transform 0.1s linear, -webkit-transform 0.1s linear;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}

.tool__title {
  font-size: 18px;
  text-align: center;
  text-shadow: 1px 2px 4px rgba(255, 255, 255, 0.3);
}

.tool__icon {
  -webkit-filter: drop-shadow(1px 2px 4px rgba(255, 255, 255, 0.3));
          filter: drop-shadow(1px 2px 4px rgba(255, 255, 255, 0.3));
}

.btn:hover {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.btn:active {
  -webkit-filter: drop-shadow(0 1px 4px #2d2d2d);
          filter: drop-shadow(0 1px 4px #2d2d2d);
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
  outline: none;
}

.tool {
  width: 150px;
  height: 150px;
}

.txt-btn {
  font-size: 18px;
  min-width: 300px;
  font-weight: 700;
}

.back-btn {
  position: absolute;
  bottom: 40px;
  left: 10px;
  display: inline-block;
  margin: 5px;
}

.manual__back-btn {
  font-size: 18px;
  position: static;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 15px, 15px, 0, 15px;
}

.form__label {
  text-align: center;
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: 700;
}

.form__select {
  width: 300px;
  font-size: 20px;
  text-align: left;
  margin-bottom: 15px;
  padding: 10px;
  cursor: pointer;
}

.calibrate__result {
  text-align: center;
  font-size: 22px;
  font-weight: 700;
}

.display-none {
  display: none;
}