// Variables
  // Colors
$background: rgb(161, 172, 184)
*
  box-sizing: border-box

html
  font-family: roboto, sans-serif
  font-size: 15px
body
  display: flex
  flex-direction: column
  justify-content: flex-start
  width: 100vw
  min-height: 100vh
  background-color: $background
a
  text-decoration: none
  &:focus
    outline: 3px solid grey

.header
  display: flex
  align-items: center
  justify-content: space-between
  height: 50px
  padding: 10px
  background-color: #fff

.header__logo-img
  height: 30px

.nav__burger
  position: fixed
  display: flex
  flex-direction: column
  justify-content: space-between
  top: 10px
  right: 10px
  width: 32px
  height: 24px
  cursor: pointer
  overflow: hidden
  z-index: 3
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
  span
    height: 4px
    width: 100%
    border-radius: 2px
    background-color: black
    transition: transform .2s ease-in
  span:nth-child(2)
    width: 80%

.burger-active
  span:nth-child(1)
    transform: translateY(10px) rotate(-45deg)
  span:nth-child(2)
    transform: translateX(-30px)
  span:nth-child(3)
    transform: translateY(-10px) rotate(45deg)

.nav__list
  position: fixed
  margin: 0
  top: 0
  right: 0
  bottom: 0
  width: 250px
  padding-top: 70px
  list-style-type: none
  background-color: white
  z-index: 2
  transform: scaleX(0)
  transition: transform .1s ease-in

.nav-active
  transform: scaleX(1)

.nav__item
  font-size: 18px
  margin-bottom: 20px
  border-bottom: 1px solid rgba(0, 0, 0, .5)

.nav__link
  color: black

.main
  height: 100%
  padding: 15px

.main__title
  text-align: center
  font-size: 24px
  margin: 0

.tools
  display: flex
  justify-content: space-around
  flex-wrap: wrap
  padding-top: 15px

.footer
  position: fixed
  bottom: 0
  right: 0
  background-color: #fff
  display: flex
  justify-content: center
  align-items: center
  width: 100%
  height: 30px
  font-size: 14px
  z-index: 1

.display-none
  display: none

.version
  font-size: 14px
  color: red

.new::after
  position: absolute
  content: "New!"
  color: red
  right: -14px
  top: 0px

@import buttonsAndForms.sass
@import directory.sass
@import calibrate.sass
